*.zip
*.LOG

Firmware/TrueStudio Project/Debug/
Software/HUlamp/obj/
Software/packages/
!Software/packages/NAudio.1.8.5/
!Software/packages/FFTW.NET.1.0.1/


# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
